@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #EA580C;
    --primary-foreground: #ffffff;
}

@layer base {
    * {
        @apply border-gray-200;
    }

    body {
        @apply bg-gray-50 text-gray-900;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}